<%= form_for @support_email, url:bug_reports_path do |f| %>

  <% if !@support_email.errors.messages.empty? %>
    <h1>There is at least one problem here...</h1>
    <ul>
    <% @support_email.errors.messages.each do |type, msg| %>
      <li><%= p "#{type.capitalize}: #{msg*"  "}" %></li>
    <% end %>
    </ul>
  <% end %>

  <h4>Your email:</h4> <%= f.text_field :sender %><br>
  <h4>Describe the Issue:</h4><br> <%= f.text_area :body %><br>
  <%= f.submit "Submit", :class => "button" %>
<% end %>